<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>GoHist::{{.diffView.Name}}</title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <script src="/static/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container-fluid">
    <div class="card border-info">
        <div class="card-header">
            <a class="btn btn-info" role="button" href="/">Home</a>
            <div class="row">
                <div class="col-md-1">{{if ne .pos .diffView.First}}<a class="btn btn-info" role="button" href="?pos={{.diffView.First}}">First</a>{{end}}</div>
                <div class="col-md-10" align="center">
                    <div class="row">
                        <div class="col-md-2" align="right">
                        {{range $i, $v := (index .diffView.History.Elements .pos).Parent}}
                            <div class="row">
                                <a class="btn btn-success" role="button" href="?pos={{$.pos}}&cmp={{$i}}">Compare with</a>
                                <a class="btn btn-info" role="button" href="?pos={{$v.Commit.Hash}}&cmp=0">Go to</a>
                                {{.Commit.Hash}}
                            </div>
                        {{end}}
                        </div>
                        <div class="col-md-8" align="center">{{.pos}}</div>
                        <div class="col-md-2" align="left">
                        {{range $i, $v := (index .diffView.History.Elements .pos).Children}}
                            <div class="row">
                                <a class="btn btn-info" role="button" href="?pos={{$v.Commit.Hash}}&cmp=0">Go to</a>
                                {{$v.Commit.Hash}}
                            </div>
                        {{end}}
                        </div>
                    </div>
                </div>
                <div class="col-md-1">{{if ne (.pos) .diffView.Last}}<a class="btn btn-info" role="button" href="?pos={{.diffView.Last}}">Last</a>{{end}}</div>
            </div>
            {{with index .diffView.History.Elements .pos}}
                <div class="row">
                    <div class="col-md-2" align="right">Author:</div><div class="col-md-10">{{.Commit.Author.Name}}</div>
                    <div class="col-md-2" align="right">Email:</div><div class="col-md-10">{{.Commit.Author.Email}}</div>
                    <div class="col-md-2" align="right">Hash:</div><div class="col-md-10">{{.Commit.Hash}}</div>
                    <div class="col-md-2" align="right">Date:</div><div class="col-md-10">{{.Commit.Author.When}}</div>
                    <div class="col-md-2" align="right">Message:</div><div class="col-md-10">{{.Commit.Message}}</div>
                </div>
            {{end}}
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-6">
                {{if ne .pos  .diffView.First}}
                    {{with index (index .diffView.History.Elements .pos).Parent .cmp}}
                    <div class="card">
                        <div class="card-header">{{.Commit.Hash}}</div>
                        <div class="card-body">
                            <pre style="background-color: #222222; color: white; tab-size: 4"><code>{{color .Text $.diffView.LeftDiff .Offset}}</code></pre>
                        </div>
                    </div>
                    {{end}}
                {{else}}
                {{end}}
                </div>
                <div class="col-md-6">
                {{with index .diffView.History.Elements .pos}}
                    <div class="card">
                        <div class="card-header">{{ .Commit.Hash }}</div>
                        <div class="card-body">
                            <pre style="background-color: #222222; color: white; tab-size: 4"><code>{{color .Text $.diffView.RightDiff .Offset}}</code></pre>
                        </div>
                    </div>
                {{end}}
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>